[submodule "deps/linear-cpp"]
	path = deps/linear-cpp
	url = https://github.com/linear-rpc/linear-cpp
        ignore = dirty
[submodule "deps/Build-OpenSSL-cURL"]
	path = deps/Build-OpenSSL-cURL
	url = https://github.com/jasonacox/Build-OpenSSL-cURL
